.DS_Store
.venv/
__pycache__/
*.pyc
db/*.db
.build/
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
